name: Deployment
on: [push, workflow_dispatch]
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Get the code
              uses: actions/checkout@v4
            - name: Install Node JS
              uses: actions/setup-node@v5
              with:
                node-version: 24
            - name: Install dependencies
              run: npm ci
            - name: Run tests
              run: npm test
    deploy:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Get the code
              uses: actions/checkout@v4
            - name: Install Node JS
              uses: actions/setup-node@v5
              with:
                node-version: 24
            - name: Install dependencies
              run: npm ci
            - name: Build the Project
              run: npm run build
            - name: Deploy
              run: echo "Deploying"


            